*.o
*.a
*.so
*.obj
*.lib
*.dll
*.cm[oxaj]
*.cmx[as]
*.annot
*.ninja_deps
*.ninja_log
*~
docs/*
docs/docson/*
!docs/docson/build-schema.json
site/
.vscode/
.github/
odoc_gen
coverage
jscomp/**/*
!jscomp/stubs/ext_basic_hash_stubs.c
ocaml/
lib/4.06.1/unstable
lib/4.06.1/*.d
lib/4.06.1/bsdep*
lib/4.06.1/bspp.ml*
lib/4.06.1/*.cm*
.circleci/
vendor/cppo
vendor/rollup.js
package/
*.tgz
darwin/bsc

# Native compilation stuff
native/4.06.1/man/**/*
vendor/ocaml.tar.gz
# What the heck is this
native/4.06.1/lib/ocaml/expunge
native/4.06.1/lib/ocaml/expunge.exe
native/4.06.1/lib/ocaml/extract_crc
native/4.06.1/lib/ocaml/extract_crc.exe

lib/4.06.1/*.ml
!native/4.06.1/lib/ocaml/**/*.a
!native/4.06.1/lib/ocaml/**/*.o
!native/4.06.1/lib/ocaml/**/*.c
!native/4.06.1/lib/ocaml/**/*.cm[oxaj]
!native/4.06.1/lib/ocaml/**/*.cmx[as]

native/4.06.1/bin/*
!native/4.06.1/bin/ocamlc.opt.exe
!native/4.06.1/bin/ocamlopt.opt.exe
!native/4.06.1/bin/ocamldep.opt.exe
!native/4.06.1/bin/ocamlprof.opt.exe
!native/4.06.1/bin/ocamllex.opt.exe
!native/4.06.1/bin/ocamldoc.opt.exe

